root {
  margin: 0;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("./images/background.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  

}
.container-form {
  display: flex;
  background-color: rgba(252, 186, 3, .5  );
  flex-direction: column;
  min-width: 250px;
  margin-left: 50px;
  padding: 10px;
  max-height: 300px;
  border-radius: 5px;
  transition:all ease-in-out 500ms;
}

.container-form:hover {
  box-shadow: 0 0 5px 5px  #fcba03;
  background-color: rgba(252, 186, 3, .75);
  transform: scale(1.05);
}

.form-input {
  all: unset;
  border-bottom: 1px  solid black;
  margin-bottom: 10px;
  height: 30px;
}
.container-form textarea {
  overflow: hidden;
  height: 160px;
  word-wrap: break-word;
}
.button-save, .button-delete {
  all: unset;
}

.button-save {
  min-width: 95%;
  --bgcolor : rgba(252, 255, 200, .5);
  border: 2px solid var(--bgcolor);
  padding-bottom: 0;
  text-align: center;
  color: var(--bgcolor);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: all ease-in-out 300ms;
}

.button-save:hover {
  --bgcolor: rgba(252, 255, 200, .5);
    border: 2px solid var(--bgcolor);
    background-color: var(--bgcolor);
    color: #fcba03;
}

.memo-container {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}
.memo-div {
  position: relative;
  width: 250px;
  height: 225px;
  background-color: rgba(252, 186, 3, .5);
  margin: 5px;
  padding:10px;
  border-radius: 5px;
  transition: all ease-in-out .5s;
}

.memo-div:hover {
  box-shadow: 0 0 5px 5px #fcba03;
    background-color: rgba(252, 186, 3, .75);
    transform: scale(1.05);
}

.button-delete{
  float: right;
  padding: 5px;
}

.button-delete>svg {
  transition: transform ease-in-out 100ms;
}

.button-delete:hover > svg{
  color: red;
  transform: scale(1.15);
}

.memo-title {
  margin-top: 2px;
  width: 100%;
  font-size: large;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.memo-body{
  height: 150px;
  max-width: 200px;
  word-wrap: break-word;
}

.memo-time {
  position: absolute;
  bottom: -5px;
  right: 5px;
  font-size: 12px;
}